<div class="show_business">
	<h4><%= @business.name %></h4>
	<p><%= @business.location %></p>
	<%= link_to 'Home', businesses_path %> &nbsp; <%= link_to 'Edit', edit_business_path(@business) %>
</div>