<!DOCTYPE html>
<html>
	<%= render 'layouts/head' %>
<body>
<div class="container">
	<div class="navbar navbar-inverse">
		<a class="brand" href="#">Raters Gonna Rate</a>
	</div>

		<%= yield %>

	<div class="footer"></div>
	</div>
</body>
</html>
