<%= render 'layouts/head' %>

<body>
<div class="container">
	<div class="navbar navbar-inverse">
		<a class="brand" href="#">Raters Gonna Rate</a>
	</div>

		<div class="wrapper">
			<%= yield %>
		</div>

	<div class="footer"></div>
	</div>
</body>
</html>
